/* Material UI Global CSS를 삭제 하기 위한 CSS 파일 */

/* 에러창 좌우 마진 삭제 */
.MuiFormHelperText-contained {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/* 버튼 disabled CSS 변경 */
.MuiButton-contained.Mui-disabled {
  color: var(--button-color-disabled) !important;
  background-color: var(--button-background-color-disabled) !important;
  border: 1px solid var(--button-color-disabled) !important;
}

/* checkbox */
/* .MuiCheckbox-colorSecondary.Mui-checked {
  color: #0992AC !important;
} */
.MuiCheckbox-colorSecondary.Mui-checked {
  color: var(--global-color-primary);
}

/* radio */
/* .MuiRadio-colorSecondary.Mui-checked {
  color: #0992AC;
} */
.MuiRadio-colorSecondary.Mui-checked {
  color: var(--global-color-primary);
}

/* LNB 글씨 색 변경 */
.MuiStepLabel-label.MuiStepLabel-active {
  /* color: white !important; */
}
