/*
table
*/
/* header */
thead.primary {
  background-color: var(--table-color-primary);
}
thead.primary span {
  color: var(--global-color-white) !important;
}
thead.primary svg {
  color: var(--global-color-white) !important;
}
