

/*
title bar
*/
/* title bar 설정*/
.titlebar {
  background-color: #28384F !important;
  /* background-image: url("../../resources/assets/lnb_logo_bg_mint.png"); */
  background-image: url("../../resources/assets/lnb_logo_bg_blue.svg");
  background-repeat: no-repeat;
  height: 60px !important;
  position: relative !important;
}
/* title bar icon 설정*/
.titlebar > .window-appicon {
  width: 250px !important;
  height: inherit !important;
  background-size: auto !important;
}
/* 최소화, 최대화, 닫기 높이 설정 */
.titlebar .window-controls-container {
  height: inherit !important;
}
/* title bar 밑에서 부터 container 설정*/
.container-after-titlebar{
  top: 0px !important;
  height: calc(100vh - 60px);
  position: relative !important;
}
