.content{
  width: 100%;
  height: 100%;
}

.wrap {
  float: left;
  padding: 20px;
  width: 80%;
  height: 100vh;
  background-color: lightyellow;
  overflow: auto
}

@media (max-width: 600px) {
  .wrap {
    width: 100%;
    height: 80vh;
    overflow: auto
  }
}

