.title{
  display:inline-block;
  width: 80px;
  /* text-align: right; */
}

.connTesting{
  margin-left: 10px;
  color: black;
}

.connError{
  margin-left: 10px;
  color: red;
}
.connSuccess{
  margin-left: 10px;
  color:green;
}
