.wrap {
  padding: 50px 50px;
  /* 영역 확인용 background-color */
  /* background-color: white; */
}

.box{
  /* 영역 확인용 background-color */
  /* background-color: black; */
}

.rowBox{
  padding: 20px;
}
.rowBox > div{
  height: 65px;
}
.rowBox>div:not(:last-child){
  margin-right: 20px;
}

.table{
  margin: 10px;
}

.errorBox{
  height: 20px;
}

.icon{
  width: 30px;
  height: 30px;
}

.addRemoveButton {
  min-width: 30px;
  height: 40px;
}

.titleBox{
  /* margin: 10px 0 0 0; */
}

.input {
  width: 200px !important;
}
