/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

/*
h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

a {
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
} */

body {
  margin:0;
  position: relative;
  height: 100vh;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
}

h1 {
  margin: 0
}

li {
  list-style: none;
}

ul {
  padding: 0
}


/*
공통
*/
.red{
  color: red;
}

.visible{
  visibility : visible;
}
.hidden{
  visibility : hidden;
}

/*
img
*/
img.small {
  width: 50px;
  height: 50px;
}
img.medium {
  width: 100px;
  height: 100px;
}
img.large {
  width: 200px;
  height: 200px;
}

/*
div
*/
div.left {
  float: left;
}
div.right {
  float: right;
}
div.clear {
  clear: both;
}
/* child 상하 가운데 정렬 */
div.childUpDownCenter {
  display: flex;
  align-items: center;
}
/* child 상하 하 정렬 */
div.childUpDownDown {
  display: flex;
  align-items: flex-end;
}
/* child 좌우 가운데 정렬 */
div.childLeftRightCenter {
  display: flex;
  justify-content: center;
}
/* child 좌우 우 정렬 */
div.childLeftRightRight {
  display: flex;
  justify-content: flex-end;
}

/*
span
*/
/* child 왼쪽 정렬 */
span.left{
  text-align: left;
}
/* child 오른쪽 정렬 */
span.right{
  text-align: right;
}
