/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@import 'css/button.css';
@import 'css/div.css';
@import 'css/font.css';
@import 'css/image.css';
@import 'css/removeMaterialGlobalCSS.css';
@import 'css/span.css';
@import 'css/table.css';
@import 'css/textfiled.css';
@import 'css/titlebar.css';

/*
h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

a {
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
} */

body {
  background-color: #ebebf730;
  position: relative;
  height: 100vh;
  width: 100vw;
  /* min-width: 800px;
  min-height: 600px; */
  /* font-family: Arial, Helvetica, Helvetica Neue, serif, "Noto Sans KR", sans-serif; */
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  /* opacity: 0.75; */
  text-decoration: none;
}

a:hover {
  /* opacity: 1; */
  text-decoration: none;
  cursor: pointer;
}

h1 {
  margin: 0
}

li {
  list-style: none;
}

ul {
  padding: 0
}

svg{
  cursor: pointer;
}

#root{
  height: 100%;
}

/*
공통
*/
.red{
  color: red;
}

.visible{
  visibility : visible !important;
}
.hidden{
  visibility : none !important;
}
