/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/*
h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

a {
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
} */



body {
  background-color: #ebebf730;
  position: relative;
  height: 100vh;
  width: 100vw;
  /* min-width: 800px;
  min-height: 600px; */
  /* font-family: Arial, Helvetica, Helvetica Neue, serif, "Noto Sans KR", sans-serif; */
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  /* opacity: 0.75; */
  text-decoration: none;
}

a:hover {
  /* opacity: 1; */
  text-decoration: none;
  cursor: pointer;
}

h1 {
  margin: 0
}

li {
  list-style: none;
}

ul {
  padding: 0
}

svg{
  cursor: pointer;
}

#root{
  height: 100%;
}

/*
공통
*/
.red{
  color: red;
}

.visible{
  visibility : visible !important;
}
.hidden{
  visibility : none !important;
}

/*
img
*/
img.small {
  width: 50px;
  height: 50px;
}
img.medium {
  width: 100px;
  height: 100px;
}
img.large {
  width: 200px;
  height: 200px;
}

/*
div
*/
div.left {
  float: left;
}
div.right {
  float: right;
}
div.clear {
  clear: both;
}
/* full size */
div.fullHeight {
  height: 100%;
}
div.fullWidth {
  width: 100%;
}
/* child 상하 정렬 */
div.childUpDownUP {
  display: flex;
  align-items: flex-start;
}
div.childUpDownCenter {
  display: flex;
  align-items: center;
}
div.childUpDownDown {
  display: flex;
  align-items: flex-end;
}
/* child 좌우 정렬 */
div.childLeftRightLeft {
  display: flex;
  justify-content: flex-start;
}
div.childLeftRightCenter {
  display: flex;
  justify-content: center;
}
div.childLeftRightRight {
  display: flex;
  justify-content: flex-end;
}

/*
span
*/
/* child 왼쪽 정렬 */
span.left{
  text-align: left;
}
/* child 오른쪽 정렬 */
span.right{
  text-align: right;
}

/*
title bar
*/
/* title bar 설정*/
.titlebar {
  background-color: #28384F !important;
  /* background-image: url("../resources/assets/lnb_logo_bg_mint.png"); */
  background-image: url("../resources/assets/lnb_logo_bg_blue.svg");
  background-repeat: no-repeat;
  height: 60px !important;
  position: relative !important;
}
/* title bar icon 설정*/
.titlebar > .window-appicon {
  width: 250px !important;
  height: inherit !important;
  background-size: auto !important;
}
/* 최소화, 최대화, 닫기 높이 설정 */
.titlebar .window-controls-container {
  height: inherit !important;
}
/* title bar 밑에서 부터 container 설정*/
.container-after-titlebar{
  top: 0px !important;
  height: calc(100vh - 60px);
  position: relative !important;
}

/*
font
*/
/* size */
.veryLarge {
  font-size: 22px;
}
.large {
  font-size: 20px;
}
.medium {
  font-size: 16px;
}
.small {
  font-size: 14px;
}
.verySmall {
  font-size: 12px;
}
/* brightness */
.dark {
  color:#4F5257;
}
.lightDark {
  color:#6A6A6A;
}
.indicator{
  color: #0992AC
}
/* weight */
.thick {
  font-weight: bold;
}
.thin {
  font-weight: lighter;
}

/*
button
*/
/* size */
button.veryLarge {
}
button.large {
}
button.medium {
}
button.small {
}
button.verySmall {
}
/* color */
button.primary {
  background-color: #EC3854;
  color:#FFFFFF;
}
button.primary:hover {
  background-color: #D22D46;
  color:#FFFFFF;
}
button.primary:active {
  background-color:#BA2E44;
  color:#FFFFFF;
}
/* button.primary {
  background-color: #0992AC;
  color:#FFFFFF;
}
button.primary:hover {
  background-color: #067C92;
  color:#FFFFFF;
}
button.primary:active {
  background-color: #046A7D;
  color:#FFFFFF;
} */

button.secondary {
  background-color: #1E6CB9;
  color:#FFFFFF;
}
button.secondary:hover {
  background-color: #175B9E;
  color:#FFFFFF;
}
button.secondary:active {
  background-color: #0F4B86;
  color:#FFFFFF;
}
/* button.secondary {
  background-color: #FFFFFF;
  color: #536882;
  border: 1px solid #536882;
}
button.secondary:hover {
  background-color: #E9F0F8;
  color: #536882;
  border: 1px solid #536882;
}
button.secondary:active {
  background-color: #DDE8F7;
  color: #536882;
  border: 1px solid #536882;
} */


/*
table
*/
/* header */
thead.primary {
  background-color: #31475E;
}
thead.primary span{
  color: white !important;
}
thead.primary svg{
  color: white !important;
}

/*
textfiled
*/
.long input {
  width: 400px;
  padding: 8px 0 8px 5px;
}
.long > div {
  width: 400px;
  border-radius: 0px;
}
.medium input {
  width: 200px;
  padding: 8px 0 8px 5px;
}
.medium > div {
  width: 200px;
  border-radius: 0px;
}
.short input {
  width: 100px;
  padding: 8px 0 8px 5px;
}
.short > div {
  width: 100px;
  border-radius: 0px;
}

/*
radio
*/
/* .MuiRadio-colorSecondary.Mui-checked {
  color: #0992AC;
} */
.MuiRadio-colorSecondary.Mui-checked {
  color: #EC3854;
}


/*
checkbox
*/
/* .MuiCheckbox-colorSecondary.Mui-checked {
  color: #0992AC !important;
} */
.MuiCheckbox-colorSecondary.Mui-checked {
  color: #EC3854 !important;
}

/*
button disabled
*/
.MuiButton-contained.Mui-disabled {
  color: #C4C4C4 !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
  border: 1px solid #C4C4C4 !important;
}


.MuiStepLabel-label.MuiStepLabel-active{
  color: white !important;
}
