.wrap{
  /* border: 1px solid red; */
  width: 100%;
}

.contents {
  text-align: center;
}
.contents > div {
  margin-bottom: 20px;
}

.circle {
  border: 4px solid #C5C5C8 !important;
  width: 300px !important;
  height: 300px !important;
}

.installedCircle {
  border: 4px solid #4085EE !important;
  width: 300px !important;
  height: 300px !important;
}

.insideCircle > div{
  margin-bottom: 15px;
  padding: 0 20px;
}

