.wrap{
  /* border: 1px solid red; */
  width: 100%;
}
.wrap > div{
  margin-bottom: 20px;
}

.titleBox {
  width: 250px;
}

.select > div {
  height: 30px;
  border-radius: 0px;
}
.select > div > select {
  padding: 5px 0 5px 10px;
}

.search > div{
  height: 30px;
  border-radius: 0px;
}

