.wrap {
  background: #4E4C4C;
  color: white;
  font-weight: bold;
  padding: 10px;
  /* width: 25%; */
  /* height: calc(100vh - 60px); */
}

.selectBox {
  height: 35px;
}
.selectBox > div{
  width: 70%;
  color: white !important;
  border-bottom: 1px solid white;
}
.selectBox > div::before{
  border-bottom: 0px !important
}
.selectBox svg{
  color: white;
}
.selectBox > a {
  margin-top: 10px;
  margin-left: 10px;
}

.listItemBox:hover{
  background-color: white !important;
  color: black;
}

.lnb {
  /* selectEnv 높이 만큼 빼준다. */
  height: calc(100% - 35px);
}
.lnb nav {
  padding: 0 !important;
}


/* @media (max-width: 600px) {
  .wrap {
    width: 100vw;
    height: 20%;
    overflow: auto
  }
  .lnb {
    height: 20%;
  }
} */
