.wrap{
  padding: 10px;
}

.title {
  margin-left: 10px;
  font-size: 30px;
}

.textBox{
  margin-top: 80px;
  margin-bottom: 50px;
}
.textBoxRow{
  margin-bottom: 10px;
}

.productBox {
  height: 100%;
  width: 100%;
}
.productBox:hover {
  cursor: pointer;
}
.productBoxContents {
  padding: 5px 20px;
}

.installedImageBox {
  height: 20px;
}
