.wrap {
  background: #28384F;
  color: white !important;
  font-weight: bold;
  /* padding: 10px; */
  /* width: 25%; */
  /* height: calc(100vh - 60px); */
}
.selectBox {
  height: 35px;
  margin-top: 19px;
}
.selectBox > div{
  width: 70%;
  color: white !important;
}
.selectBox > div::before, .selectBox > div::after{
  border-bottom: 0px !important
}
.selectBox > div > select{
  background-color: #484C52 !important;
  border-radius: 18.5px !important;
  padding-left: 20px !important;
}
.selectBox svg{
  color: white;
}
.selectBox > a {
  margin-top: 5px;
  margin-left: 5px;
}

/* .listItemBox{
  color: white;
} */
.listItemBox:hover{
  /* background-color: #0992AC !important; */
  color: #0992AC   !important;
}

.seletecItemBox{
  /* background-color: #0992AC !important; */
  color: #0992AC   !important;
}

.lnb {
  /* selectEnv 높이 만큼 빼준다. */
  height: calc(100% - 35px - 19px);
}
.lnb nav {
  padding: 0 !important;
}

.notInstalled svg,
.notInstalled span {
  color:  #737579 !important;
}

.installed svg,
.installed span{
  color: white !important;
}

.clicked svg{
  color:#ec3854 !important;
}
.clicked span{
  color: white !important;
}



/* @media (max-width: 600px) {
  .wrap {
    width: 100vw;
    height: 20%;
    overflow: auto
  }
  .lnb {
    height: 20%;
  }
} */
