.wrap {
  /* width: 75%; */
  /* height: calc(100vh - 60px); */
  /* height: 100%; */
  background-color: #f5f5f7;
}

/* @media (max-width: 600px) {
  .wrap {
    width: 100vw;
    height: 80%;
    overflow: auto
  }
} */
